!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title InfectiousDiseaseEtAl
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %h1.title IDEA
      %p.subtitle Infectious Disease et al.
      
    = yield

    %footer
      %small Copyright(C) IDEA ALL RIGHTS RESERVED.